$primaryColor: #ffffff;
$body-bg: #0f0f0f;
$black: #000;
$white: #fff;
$yellow: #fed530;
$hoverYellow: #fdcb00;
$lightYellow: #fed530;
$grey: #808080;
$main-color: #ff0000;
$border-radius: 30px;
$txt-color: #fff;
