@use './sass/color' as *;

.header__account {
  position: relative;
  display: flex;
  justify-content: center;

  &--img {
    cursor: pointer;

    svg {
      color: $white;
      width: 25px;
      height: 25px;
    }
  }

  &--sign-out {
    position: absolute;
    bottom: -50px;
    left: -110%;
    background-color: $white;
    width: 90px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s cubic-bezier(0.19, 1, 0.22, 1);

    button {
      font-weight: 600;
    }

    &.active {
      bottom: -40px;
      opacity: 1;
      visibility: visible;
    }
  }
}
