@import './sass/variables';
@import './sass/color';

.movie-list {
  padding: $paddingMain;

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;

    h3 {
      font-size: 48px;
      color: $white;
    }

    div {
      font-size: 24px;
      color: $yellow;
      cursor: pointer;
      font-weight: 700;
    }
  }
}
